#signupstart {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#signupBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55%;
    background-color: #ffffff;
    border: 1px solid #a1a1a1;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin: 20px 10px;
    padding: 15px;
}

#signupBox span {
    font-weight: bold;
    font-size: 28px;
}

#signupBox a{
    font-weight: 600;
    margin-top: 10px;
}

